$primary-color: #31a645;
$secondary-color: #236174;
$accent-color: #611b95;
$background-color: #f4e6ad;
$foreground-color: #212121;
$success-color: #31a645;
$error-color: #c83e3a;
$info-color: #5c5fe8;

:root {
	--primary-color: #31a645;
	--secondary-color: #236174;
	--accent-color: #611b95;
	--background-color: #f4e6ad;
	--foreground-color: #212121;
	--success-color: #31a645;
	--error-color: #c83e3a;
	--info-color: #5c5fe8;
}
